doctype html

html
    head
        meta(charset='UTF-8')
    title Redux DevTools
    style.
        body {
            background-color: black;
            color: white;
            font-size: 17px;
        }

    body
        #root
        script(src='/js/devpanel.bundle.js')