doctype html

html
  head
    meta(charset='UTF-8')
  title Redux DevTools Options
  style.
    body {
      padding: 2px;
    }
    .input {
      margin-bottom: 10px;
    }
    .caption {
      margin-right: 5px;
      width: 105px;
      display: inline-block;
    }
    .comment {
      color: #ccc;
      margin-left: 5px;
    }
    #timeout {
      width: 25px;
      font-weight: bold;
      text-align: center;
    }
    #serialize {
      width: 24px;
      height: 20px;
    }

  body
  #root
  script(src='/js/options.bundle.js')
