doctype html

html
  head
    meta(charset='UTF-8')
  title Redux DevTools Options
  style.
    body {
      padding: 2px;
      min-width: 380px;
    }
    .input {
      margin-bottom: 10px;
    }
    .caption {
      margin-right: 5px;
      width: 115px;
      display: inline-block;
      vertical-align: top;
      padding-top: 3px;
    }
    .comment {
      color: #999;
      margin-left: 5px;
    }
    input[type="text"] {
      width: 25px;
      font-weight: bold;
      text-align: center;
    }
    input[type="checkbox"] {
      width: 24px;
      height: 20px;
    }
    textarea {
      width: 250px;
      height: 50px;
    }
    select {
      width: 250px;
    }

  body
  #root
  script(src='/js/options.bundle.js')
