doctype html

html
  head
    meta(charset='UTF-8')
  title Redux DevTools Options
  style.
    body {
      padding: 2px;
      min-width: 380px;
    }

    .option {
      display: flex;
      margin-bottom: 10px;
    }

    .option__caption {
      margin-right: 5px;
    }
    .option__comment {
      color: #999;
      margin-left: 5px;
    }

    .option_type_input .option__caption,
    .option_type_textarea .option__caption,
    .option_type_select .option__caption {
      flex: none;
      width: 105px;
    }

    /* Input styling */
    .option_type_input {
      align-items: baseline;
    }

    /* Checkbox styling */
    .option_type_checkbox .option__element {
      margin-right: 5px;
    }

    /* Textarea styling */
    .option_type_textarea .option__caption {
      /* Baseline-align the caption and the element. See the commit message for more. */
      margin-top: 4px;
    }
    .option_type_textarea .option__element {
      flex: 1;
      height: 50px;
    }

    /* Select styling */
    .option_type_select .option__caption {
      /* Baseline-align the caption and the element. See the commit message for more. */
      line-height: 24px;
    }
    .option_type_select .option__element {
      flex: 1;
    }

    /* Value-based styling */
    .option_value_maxAge .option__element {
      width: 25px;
      text-align: center;
    }

  body
    #root
    script(src='/js/options.bundle.js')
