doctype html

html
  head
    meta(charset='UTF-8')
  title Redux DevTools Options
  style.
    body {
      padding: 2px;
    }
    .option {
      margin-bottom: 10px;
    }
    .option__caption {
      margin-right: 5px;
    }
    .option__comment {
      color: #999;
      margin-left: 5px;
    }
    .option_value_limit .option__element {
      width: 25px;
      text-align: center;
    }
    .option_type_checkbox .option__element {
      margin-right: 5px;
      vertical-align: baseline;
    }
    .option_type_textarea .option__element {
      width: 250px;
      height: 50px;
    }
    .option_type_select .option__element {
      width: 250px;
    }

  body
  #root
  script(src='/js/options.bundle.js')
