doctype html

html
  head
    meta(charset='UTF-8')
    title Redux Counter Example
  style.
    #root {
      min-width: 300px;
      min-height: 300px;
    }

  body
    #root
    script(src='/js/window.bundle.js')