style.
  html {
    min-width: 380px;
    min-height: 300px;
  }
  body {
    position: fixed;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #root {
    height: 100%;
  }
  #root > div {
    height: 100%;
  }
  .ReactCodeMirror {
    overflow: auto;
    height: 100%;
  }
  .CodeMirror {
    height: 100% !important;
  }
link(href='/css/codemirror.css', rel="stylesheet")
link(href='/css/night.css', rel="stylesheet")
