style.
  html {
    min-width: 350px;
    min-height: 300px;
  }
  body {
    position: fixed;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #root {
    height: 100%;
  }
  .flexbox {
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: column nowrap;
  }

  .devmenu {
    padding: 5px;
    text-align: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row nowrap;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #4F5A65;
    flex-direction: row;
    background-color: #353B46;
  }
