style.
  html {
    min-width: 380px;
    min-height: 300px;
  }
  body {
    position: fixed;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #root {
    height: 100%;
  }
  #root > div {
    height: 100%;
  }
